*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #FFF0F5;
    color: #7339ac;
    overflow: hidden;
}

.header{
    padding: 10px;
    color: #FFF0F5;
    background: #7339ac;
    margin-bottom: 20px;

    grid-area: header;
}

#wholepage{
    display: grid;
    /*grid-column: repeat(2, auto);*/
    grid-template-areas: 
    'header header header header'
    'options content content content'
    'options content content content'
    'indicators indicators indicators indicators';
}

#options{
    grid-area: options;
    margin-top: 2.2rem;
    max-height: 500px;
    width: 25vw;
}

#options div{
    margin: 0.1rem;
}

#indicators{
    grid-area: indicators;
}

#indicators h2{
    text-align: center;
    margin: 1rem;
}

#indicators div{
    display: inline-block;
    width: 33%;
    text-align: center;
    padding: 0.1rem;
}

#indicators div:last-child{
    display: inline-block;
    width: 100%;
}

#products{
    grid-area: content;
    overflow-y: scroll;
    max-height: 70vh;
    width: 75vw;
}

#products h2{
    text-align: center;
}

#products .product{
    border-radius: 5px;
    background: #d6c1ea;
    margin: 0.5rem;
    padding: 0.5rem;
}

#products .product div span{
    width: 100%;
    text-transform: capitalize;
    font-size: 1.4rem;
    margin-bottom: 0.6rem;
}

#products .product div button{
    float: right;
}

#products .product span:last-child{
    float: right;
}

#products .product a{
    text-decoration: underline;
    color: inherit;
    font-weight: 500;
    font-size: 1.1rem;
}
#products .product a:hover{
    color: #402060;
    font-weight: 550;
}

.fav{
    color: #6c33a6;
    background: inherit;
    border: none;
    cursor: pointer;
}

.fav:hover {
    color: yellow;
}

.fav_clicked{
    background: #d6c1ea;
    color: yellow;
}


.select{
    border: none;
    float: right;
    color: #7339ac;
    background: #d6c1ea;
    border-radius: 0.5px;
    margin-right: 2rem;
    width: 8rem;
}

.btn{
    background: #d6c1ea;
    border-radius: 0.5px;
    padding: 0.1rem;
    margin: auto;
    margin-top: 0.3rem;
    cursor: pointer;
    display: block;
    width: 150px;
    border: none;
    justify-self: center;
    color: #7339ac;
}

.btn:hover{
    color: #402060;
    font-weight: 550;
}

.checked{
    background: #7339ac;
    color: #d6c1ea;
}

.checked:hover{
    background: #402060;
    color: #d6c1ea;
    font-weight: 550;
}